version: 7.7.0

type: DeclarativeSource

description: |-
  API documentation:

  https://developers.criteo.com/marketing-solutions/reference/getadsetreport

check:
  type: CheckStream
  stream_names:
    - ad_spend_daily

streams:
  - type: DeclarativeStream
    name: ad_spend_daily
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://api.criteo.com/2025-10/statistics/report
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            format: json
            endDate: >-
              {{ stream_interval.end_time if stream_interval is defined else
              (config.get('end_date') or now_utc().strftime('%Y-%m-%d')) }}
            metrics:
              - AdvertiserCost
            currency: "{{ config.currency }}"
            startDate: >-
              {{ stream_interval.start_time if stream_interval is defined else
              config['start_date'] }}
            dimensions:
              - day
              - AdvertiserId
              - CampaignId
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: client_credentials
          client_secret: "{{ config[\"client_secret\"] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          use_profile_assertion: false
          token_refresh_endpoint: https://api.criteo.com/oauth2/token
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 5
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - Rows
    primary_key:
      - AdvertiserId
      - CampaignId
      - Day
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - AdvertiserId
          - CampaignId
          - Day
        properties:
          Day:
            type: string
          Campaign:
            type:
              - string
              - "null"
          Currency:
            type:
              - string
              - "null"
          Advertiser:
            type:
              - string
              - "null"
          CampaignId:
            type: string
          AdvertiserId:
            type: string
          AdvertiserCost:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: Day
      end_datetime: "{{ config.get('end_date') or now_utc().strftime('%Y-%m-%d') }}"
      start_datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
      lookback_window: P3D
      cursor_datetime_formats:
        - "%Y-%m-%d"

spec:
  type: Spec
  documentation_url: https://developers.criteo.com/marketing-solutions/reference/
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - start_date
      - currency
    properties:
      currency:
        type: string
        description: Currency to be used on the report
        order: 4
        title: Currency
      end_date:
        type: string
        description: End date of the report
        order: 3
        title: EndDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      client_id:
        type: string
        name: client_id
        order: 0
        title: OAuth Client ID
        airbyte_secret: true
      start_date:
        type: string
        description: Start date of the report
        order: 2
        title: StartDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      client_secret:
        type: string
        name: client_secret
        order: 1
        title: OAuth Client Secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developers.criteo.com/marketing-solutions/reference/
    openapiSpecUrl: >-
      https://api.criteo.com/2025-10/marketingsolutions/open-api-specifications.json
  testedStreams:
    ad_spend_daily:
      isStale: false
      hasRecords: true
      streamHash: 93bd5c50af7f258c6002a36a70affaf32e85c9da
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    ad_spend_daily: false

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: FixedWindowCallRatePolicy
      period: PT1M
      matchers: []
      call_limit: 250
  ratelimit_reset_header: ratelimit-reset
  ratelimit_remaining_header: x-ratelimit-remaining
  status_codes_for_ratelimit_hit:
    - 429
